################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

packages
.vs
*.DotSettings
*.vspscc
*.user
bin/
obj/

node_modules/
